body {
  margin: 100px;
}

body {
  background-color: lightblue;
}

body {
  text-align: justify;
}

p {
  border-style: solid;
  border-width: medium;
  border-color: black;
  font-family: Verdana, Tahoma, sans-serif ;
}

p{
  background-color: white;
  max-width: 1500px;
  max-height: 1500px;
}
